html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 250%
}

p {
  line-height: 150%;
  color: #333;
}

.genre_title {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}


/*
 * Main page 
 */

#moreMovies {
  margin: 30px 0;
}


/*
 * Movie page
 */

.movie-poster {
  width: 50vh;
}

#profileList {
  margin: 0 10px 0 10px;
}

#profile-feed {
  padding: 1%;
}

.commentButton {
  border: 1px solid;
  border-color: #E7E7E7;
  border-radius: 5px;
  height: 39px;
  background-color: white;
}

#dropdownMenu2 {
  border: 1px solid;
  border-color: #E7E7E7;
  border-radius: 5px;
  height: 39px;
}

.dropdown-menu {
  width: 20vh;
  min-width: none !important;
  border: 1px solid;
  border-color: #E7E7E7;
}

#comment {
  border: 1px solid;
  border-color: #E7E7E7;
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
}

label {
  font-weight: normal;
  font-size: 20px;
}

.green {
  background-color: green;
}

#enterComments {
  width: 100%;
  border: 1px solid;
  border-color: #E7E7E7;
  border-radius: 5px;
}

#poster_pic {
  width: 100%;
  height: 100%;
}

#movie_deets {
  display: block;
  text-align: center;
}

/* TMDBM logo */

.tmdb-logo {
    width: 120px;
}


/* positioning for footer */
html, body {
    height: 100%;
    
}

.page-container {
    min-height: 100%;
   /* margin-bottom: 60px;*/
}

.page-container:after {
    content: "";
    display: block;
}

.footer, .page-container:after {
    height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.text-muted {
  margin: 20px 0;
}

.footer {
  margin-top: -60px;
  width: 100%;
  background-color: #eee;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer .footer-content-container {
  padding-top: 10px;
}

.footer a {
    text-decoration: none;
}
